@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    color: white;
}

body{
    background: black;
}
a {
    font-size: 16px;
    color: #B982FF;
    text-decoration: none;
}

.main-page_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 641px;
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: black; */
    color: white;
    padding: 40px;
    gap: 40px;
    background: url(static/img/Bitcoin-1.svg) no-repeat,
    url(static/img/LiteCoin-1.svg) no-repeat,
    url(static/img/Monero-2.svg) no-repeat,
    url(static/img/Etherium-2.svg) no-repeat;

}

.slow-gun{
    font-size: 85px;
    /* word-break: break-word; */
    text-align: center;
}

